

h1 {
    color: antiquewhite;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    text-shadow: 3px 3px black;
}

h2 {
    color: #F7C089;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    text-shadow: 3px 3px black;
}


h3 {
    color: saddlebrown;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;

}

p.light {
    color: antiquewhite;
}

p.medium {
    color: rosybrown;
}

p.dark{
    color: brown;
}

p {
    display: flex;
    justify-content: center;
}

div.coffee {
    /*display: flex;*/
    /*!*justify-content: center;*!*/
    /*justify-content: space-between;*/
    margin: 1rem;
    text-shadow: 2px 2px black;

}

.col-6 {
    text-align: center;
}
div.container {
    /*background-color: clear;*/
}

html, section, div.container2 {
    background-color: #292D3F;
}

.lead {
    color: navajowhite;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px black;
}

.jumbotron {
    background: url("https://cnet2.cbsistatic.com/img/UnvRWfYgyTGEDS7uM-lORNK8HY4=/1200x675/2020/07/13/7cd1f685-8400-4af6-af51-b2e0d56a1bf2/marscaltech1.jpg") no-repeat center center/cover;
}

select {
    width: 130px;
    height: 30px;
    border: 1px orange solid;
    background: none;
    color: brown;
    border-radius: 5px;
    padding: 4px;

}

input {
    background: lightgrey;
    border: 2px black solid;
    border-radius: 5px;

}

