/*----------Background images---------*/
.jumbotron {
    background: url("https://cnet2.cbsistatic.com/img/UnvRWfYgyTGEDS7uM-lORNK8HY4=/1200x675/2020/07/13/7cd1f685-8400-4af6-af51-b2e0d56a1bf2/marscaltech1.jpg") no-repeat center center/cover;
    height: 100vh;
}

.large-container {
    background: url('img/bg-img.jpg') repeat center center/cover;
    height: 100vh;
}

/*----------Containers---------*/
div.coffee {
    margin: 1rem;
    text-shadow: 1px 1px grey;
}

.col-6 {
    text-align: center;
}


/*----------Texts---------*/
h1 {
    color: antiquewhite;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    text-shadow: 3px 3px black;
    font-size: 75px;
}

h2 {
    color: #F7C089;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    text-shadow: 3px 3px black;
}


h3 {
    color: orange;
    font-family: 'Archivo Narrow', sans-serif;
    display: flex;
    justify-content: center;
}

p.light {
    color: antiquewhite;
}

p.medium {
    color: rosybrown;
}

p.dark{
    color: brown;
}

p {
    display: flex;
    justify-content: center;
}


.lead {
    color: navajowhite;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px black;
}


/*----------Inputs---------*/
select {
    width: 150px;
    height: 37px;
    border: 1px orange solid;
    background: none;
    color: brown;
    border-radius: 5px;
    padding: 4px;

}

input {
    background: lightgrey;
    border: 2px black solid;
    border-radius: 5px;
    width: 180px;
    height: 40px;

}

input:focus{
    outline-color: orange;
}

/*----------Footers---------*/
footer {
    color: orange;
    background-color: black;

}

a {
    color: orange;
    margin: auto;
}

i {
    margin-left: 30px;

}

a:hover{
    color: orangered;
    text-decoration: none;
}


@media screen and (max-width: 955px) {
    .large-container {
        background: url('img/bg-img.jpg') repeat center center/cover;
        height: 100%;
    }
}